<h1 class="text-center">Your Repositories</h1>
<div class="container text-center profile-tables">
  <table class="table">

      <thead>
        <th>Repo Name</th>
        <th>Description</th>
      </thead>

      <tbody>
        <% @repos.each do |repo| %>
        <tr>
          <th scope="row"><%= link_to repo[:name], repo[:html_url], target: :_blank %></th>
            <td align="left"><%= repo[:description] %></td>
        </tr>
        <% end %>
      </tbody>

    </table>
</div>
